.row
	.preloader-wrapper.big.active(ng-if="!$ctrl.habitants")
		.spinner-layer.spinner-blue-only
			.circle-clipper.left
				.circle
			.gap-patch
				.circle
			.circle-clipper.right
				.circle
	al-card-details(habitants="$ctrl.habitants")