al-card-details {
	.al-card-details {
		overflow-y: auto;
	}
	.img-habitant {
		height: 230px
	}
	.title-list {
		margin: 0;
	}
	dl{
		margin: 0;		
	}
	.card {
		.card-content {
			height: 431px;
		}
	}

	.container-search {
		background-color: #007eaf;
		label {
			color: #fff;
		}
		
		input {
			color: #fff;
		}

		input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
			border-bottom: 1px solid #fff;
			color: #fff;
			-webkit-box-shadow: 0 1px 0 0 #fff;
			box-shadow: 0 1px 0 0 #fff;
		}
	}
}